// header logo styling
.header-global h1.logo img {
	max-height: 40px;
}

// header home banner styling
.home > header {
	background: url('#{$static-path}/images/screenshot_ubicaciones.png');
	background-size: cover;
	background-position: 50%;

	.outer-wrapper {
		padding-top: 150px;
	        padding-bottom: 150px;
	}
	.title {
		background: transparent;
		box-shadow: none;
		margin-left: 0;

		> .heading-group h1 {
			color: #fff;
			text-shadow: 3px 3px 2px #797972;
		}
		> .heading-group p {
			color: #fff;
			text-shadow: 3px 3px 2px #262323;
		}
	}
}

