<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")} - Kimetrics - Smart field management</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Aviso de privacidad</h1><br/>
        <p>
                           En cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la "Ley"),
                           Estrategia y Evaluaciones Outsourcing S.A. de C.V. ("La Empresa"), protege y salvaguarda sus datos personales para evitar $
                           pérdida, destrucción, robo, extravío, alteración, así como el tratamiento no autorizado de sus datos personales.<br/><br/>

                           Informamos a usted los términos y condiciones del Aviso de Privacidad de Datos Personales ("Aviso de Privacidad") de Estra$
                           Evaluaciones Outsourcing S.A. de C.V., con domicilio en Diagonal 19 Poniente No. 3102, interior 108, Colonia El Vergel, Pu$
                           C.P. 72400.<br/><br/>

      		           Los datos personales que usted libre y voluntariamente proporcione a La Empresa ya sea a través de nuestra página de inter$
                           escrito, vía telefónica o por cualquier otro medio, podrá incluir de manera enunciativa mas no limitativa: (i) datos perso$
                           (ii) datos laborales, y (iii) datos patrimoniales y financieros. Asimismo y sólo en caso de ser aplicable, podremos recaba$
                           de la información que usted nos proporcione, algunos datos personales en general y datos laborales según corresponda, de t$
                           pueden ser hijos, cónyuge así como del obligado solidario, así como referencias personales para fines de consulta y de ver$
                           sus datos por parte de La Empresa.<br/><br/>

                           Para cerciorarse de que los datos personales que usted libremente proporciona son correctos y actuales, La Empresa podrá r$
                           información de otras fuentes como son sociedades de información crediticia. Igualmente y de acuerdo con las políticas de L$
                           podremos solicitarle copia de su identificación oficial con fotografía y comprobante de domicilio, así como cualquier otro$
                           necesario para llevar a cabo el trámite que usted requiera.<br/><br/>

                           Tratándose de los terceros cuyos datos personales recopilamos a través de usted, igualmente tomamos las medidas de segurid$
                           confidencialidad para el tratamiento de su información, de conformidad con los términos y condiciones establecidos en este$
                           Privacidad.<br/><br/>

                           Asimismo, al procesar cada transacción, La Empresa registra información sobre las operaciones que realiza el Usuario.<br/>

                           Si no se opone expresamente, usted manifiesta su consentimiento expreso a que sus datos personales sean tratados de acuerd$
                           términos y condiciones de este Aviso de Privacidad. <br/><br/>

                           Los datos personales que recopilamos los destinamos de manera enunciativa mas no limitativa para los siguientes propósitos$
                           (i) fines de identificación y de verificación, (ii) contacto, (iii) tramitar su solicitud de servicios,
                           (iv) ofrecerle nuestros servicios, (v) identificar su historial de pagos y otros fines análogos. En la recolección y trata$
                           de datos personales que usted nos proporcione, cumplimos con los principios que marca la Ley (artículo 6): licitud, calida$
                           consentimiento, información, finalidad, lealtad, proporcionalidad y responsabilidad.<br/><br/>

                           La Empresa podrá contratar a uno o varios terceros como proveedores de servicios seleccionados para apoyar las actividades$
                           y comercialización de nuestros servicios, manejo y administración de los datos personales que se recaban, por lo que La Em$
                           incluso transferirlos a dicho(s) tercero (s) sin un fin comercial, sino únicamente para cumplir con la prestación de los s$
                           contratados. En ningún caso comercializaremos, venderemos o rentaremos información personal sobre usted a un tercero sin u$
                           consentimiento previo de su parte.<br/><br/>

                           Los datos personales que usted proporcione a La Empresa, podrán compilarse y fijarse en una base de datos propiedad exclus$
                           Empresa.<br/><br/>

                           La Empresa tiene implementadas medidas de seguridad administrativas, técnicas y físicas para proteger sus datos personales$
                           igualmente exigimos sean cumplidas por los proveedores de servicios que contratamos.<br/><br/>

                           El responsable del manejo y la administración de los datos personales es el "Oficial de Seguridad de Datos Personales", a $
                           contactar mediante el correo electrónico oficial@kliento.mx, al teléfono (222) 403 63 42, o en las oficinas ubicadas en Di$
                           Poniente No. 3012, Interior 108, Colonia El Verge, C.P. 72400, Puebla, Puebla.<br/><br/>

                           En términos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, usted podrá iniciar el pr$
                           de protección de derechos ARCO ante el Instituto Federal de Acceso a la Información y Protección de Datos Personales (IFAI$
                           los 15 días siguientes a la fecha en que La Empresa de respuesta a su solicitud o si, transcurrido el término que señala l$
                           La Empresa no diera respuesta a su solicitud.<br/><br/>

                           Como titular de datos personales, usted podrá ejercitar los derechos ARCO (acceso, cancelación, rectificación y oposición $
                           de sus datos personales), o bien, revocar el consentimiento que usted haya otorgado a La Empresa, para el tratamiento de s$
                           personales, enviando directamente su solicitud al "Oficial de Seguridad de Datos Personales" a través de la cuenta de corr$
                           oficial@kliento.mx. Dicha solicitud deberá contener por lo menos: (i) nombre y domicilio u otro medio para comunicarle la $
                           solicitud; (ii) los documentos que acrediten su identidad, o en su caso, la representación legal; (iii) la descripción cla$
                           de los datos personales respecto de los cuales solicita ejercer alguno de los derechos ARCO; (iv) la manifestación expresa$
                           su consentimiento al tratamiento de sus datos personales y por tanto, para que no se usen; (v) cualquier otro elemento que$
                           localización de los datos personales. <br/><br/>

                           Modificaciones al Aviso de Privacidad. Nos reservamos el derecho de cambiar este Aviso de Privacidad en cualquier momento.$
                           que exista algún cambio en este Aviso, se comunicará a través de nuestro Portal.<br/><br/>

                           Fecha de última actualización: 04 de Agosto de 2016.
        </p>

    </section>
</main>
